DATA/*
GLOBAL/SHAPES/*.s
GLOBAL/SHAPES/*.sd
GLOBAL/SHAPES/lightmat.pal
GLOBAL/TEXTURES/*.ace
GLOBAL/TEXTURES/**/*.ace
GLOBAL/TEXTURES/*.dds
GLOBAL/TEXTURES/**/*.dds
ROUTES/OR_DK24/SHAPES/*.s
ROUTES/OR_DK24/SHAPES/*.sd
ROUTES/OR_DK24/SOUND/*.sms
ROUTES/OR_DK24/SOUND/*.wav
ROUTES/OR_DK24/TEXTURES/*.ace
ROUTES/OR_DK24/TEXTURES/**/*.ace
ROUTES/OR_DK24/TEXTURES/*.dds
ROUTES/OR_DK24/TEXTURES/**/*.dds
ROUTES/OR_DK24/TERRAIN_MAPS/*.png
ROUTES/OR_DK24/TERRTEX/*.ace
ROUTES/OR_DK24/TERRTEX/**/*.ace
ROUTES/OR_DK24/TERRTEX/*.dds
ROUTES/OR_DK24/TERRTEX/**/*.dds
ROUTES/OR_DK24/TILES/*.t
ROUTES/OR_DK24/TILES/*.raw
ROUTES/OR_DK24/TRACKPROFILES/*.stf
ROUTES/OR_DK24/TRACKPROFILES_TEST/*.stf
ROUTES/OR_DK24/WORLD/*.dtbak
ROUTES/OR_DK24TEST/SHAPES/*.s
ROUTES/OR_DK24TEST/SHAPES/*.sd
ROUTES/OR_DK24TEST/SOUND/*.sms
ROUTES/OR_DK24TEST/SOUND/*.wav
ROUTES/OR_DK24TEST/TEXTURES/*.ace
ROUTES/OR_DK24TEST/TEXTURES/**/*.ace
ROUTES/OR_DK24TEST/TEXTURES/*.dds
ROUTES/OR_DK24TEST/TEXTURES/**/*.dds
ROUTES/OR_DK24TEST/TERRAIN_MAPS/*.png
ROUTES/OR_DK24TEST/TERRTEX/*.ace
ROUTES/OR_DK24TEST/TERRTEX/**/*.ace
ROUTES/OR_DK24TEST/TERRTEX/*.dds
ROUTES/OR_DK24TEST/TERRTEX/**/*.dds
ROUTES/OR_DK24TEST/TILES/*.t
ROUTES/OR_DK24TEST/TILES/*.raw
ROUTES/OR_DK24TEST/TRACKPROFILES/*.stf
ROUTES/OR_DK24TEST/TRACKPROFILES_TEST/*.stf
ROUTES/OR_DK24TEST/WORLD/*.dtbak
SOUND/*.sms
SOUND/*.wav
TRAINS/TRAINSET/*/
*.zip
train.exe
default.fbk

### FFEDITC utility files ###
appids.tok
coreids.tok
ffedit.cfg
ffeditc_unicode.exe
forms.hdr
loadstr.hdr
newshape.bnf
sidn.txt
worldfile.bnf
TEMPDP.S
TEMPDPX.S