GLOBAL/SHAPES/*.s
GLOBAL/SHAPES/*.sd
GLOBAL/TEXTURES/*.ace
GLOBAL/TEXTURES/**/*.ace
GLOBAL/TEXTURES/*.dds
GLOBAL/TEXTURES/**/*.dds
ROUTES/OR_DK24/SHAPES/*.s
ROUTES/OR_DK24/SHAPES/*.sd
ROUTES/OR_DK24/TEXTURES/*.ace
ROUTES/OR_DK24/TEXTURES/**/*.ace
ROUTES/OR_DK24/TEXTURES/*.dds
ROUTES/OR_DK24/TEXTURES/**/*.dds
ROUTES/OR_DK24/TERRAIN_MAPS/*.png
ROUTES/OR_DK24/TERRTEX/*.ace
ROUTES/OR_DK24/TERRTEX/**/*.ace
ROUTES/OR_DK24/TERRTEX/*.dds
ROUTES/OR_DK24/TERRTEX/**/*.dds
ROUTES/OR_DK24/TILES/*.t
ROUTES/OR_DK24/TILES/*.raw
TRAINS/TRAINSET/*/
